@color-light-neutral-6: #58667e;
@color-primary-black: #000;
@down-color: #ea3943;
@white-color: #fff;
@up-color: #16c784;
@darkgray-color: #272727;
@lightgray-color: #2b2b2b;
@graytext-color: #999;

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills {
    .nav-link.active {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

    .show {
        > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }
    }
}

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    margin-bottom: 60px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    background-color: @darkgray-color;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.bodyContainer {
    padding-left: 50px;
    padding-right: 50px;
}

.chart {
    height: 370px;
    margin-bottom: 25px;
    width: 80%;
}

.statsItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.statsLabel {
    color: @color-light-neutral-6;
    font-weight: bold;
    font-size: 18px;
}

.statsValue {
    color: @white-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-right: 16px;
}

.statsVariation {
    color: @white-color;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;

    &.up {
        background-color: @up-color;
    }

    &.down {
        background-color: @down-color;
    }
}

.statsSubLabel {
    color: @white-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    margin-right: 16px;
}

.secondary-heading {
    color: green;
}

.form-check-input {
    margin-top: 14px;
    width: 15px;
    height: 15px;
}

.form-check-label {
    margin-left:7px;
}

.small {
    color: @graytext-color;
}

.cont {
    text-align: end;
    width: 100%;
}

.badge {
    line-height: inherit;
    margin-left: 10px;
    background-color: #8cb4ff;
}

.coinName {
    min-width: 200px;
    color: @white-color;
}

.list-group-item-dark {
    background-color: @lightgray-color;
    border-color: @graytext-color;
}

.notes {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bigchart {
    height: 650px;
}